<div class="post">
  <h2>{{ page.title }}</h2>
  <p class="meta">
    {{ page.date | date_to_long_string }} 
    {% if page.location %}{{ page.location }}{% endif %}
  </p>
  {{ content }}
</div>
<br/>
<a href="https://twitter.com/share" class="twitter-share-button" data-via="varnie29a">Tweet</a>
{% include JB/comments %}

<div id="related">
  <h2>Другие посты</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
