<div class="post">

  <div class="meta">{{ page.date | date: "%b %d, %Y" }}</div>
  <h2 class="title"><a class="title" href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h2>
  <div class="meta">
    posted by varnie &bull;
    Tags:
    {% for tag in page.tags %}
      <b><a class="title" href="/tags/{{ tag }}" title="View posts tagged with &quot;{{ tag }}&quot;">{{ tag }}</a></b>{% if forloop.last != true %}, {% endif %}
    {% endfor %} &bull;
    <a href="{{ post.url }}#disqus_thread">Show comments</a>
  </div>
  {{ content }}
</div>
<br/>
<a href="https://twitter.com/share" class="twitter-share-button" data-via="varnie29a">Tweet</a>
{% include JB/comments %}

<div id="related">
  <h2>Другие посты</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
